
.vagrant



.aptget/partial
.aptget/*.deb
.aptget/lock

home/log.txt
.jenkins_jobs/example/builds/*
!.jenkins_jobs/example/builds/1
!.jenkins_jobs/example/builds/2
!.jenkins_jobs/example/builds/3

.jenkins_jobs/example/workspace/
