<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>JSON Stub</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

</style>

  </head>
  <body>

    <div class="container">

      <h1>JSON Structure examples</h1>
      <h2>Data structure Last Refreshed: 16-01-2015 16:06:55</h2>
      </br>
      <p>The <a href="https://www.jsoneditoronline.org">online JSON editor</a> is very good to view in a presented format</p>
      <ul>
        <li><a href="../DT160760">DT160760 Simple JSON 8KB</a></li>
        <li><a href="../BD161882">BD161882 312KB</a></li>
        <li><a href="../BD161870">BD161870 1.7MB </a></li>
        <li><a href="../GR504812">GR504812 1.4MB</a></li>
        <li><a href="../MS465614">MS465614 554KB</a></li>
      </ul>
      </br>
      <pre>
{"application_reference"=>"EXAMPLE_application_reference",
"geometry"=>
  {"index"=>
    {"type"=>"Feature",
     "geometry"=>{"type"=>"Point", "coordinates"=>[0.0, 0.0]},
     "properties"=>{},
     "crs"=>
      {"type"=>"name", "properties"=>{"name"=>"urn:ogc:def:crs:EPSG::27700"}}},
   "extent"=>
    {"type"=>"Feature",
     "geometry"=>{"type"=>"Point", "coordinates"=>[0.0, 0.0]},
     "properties"=>{},
     "crs"=>
      {"type"=>"name", "properties"=>{"name"=>"urn:ogc:def:crs:EPSG::27700"}}},
   "references"=>
    [{"type"=>"Feature",
      "geometry"=>{"type"=>"Point", "coordinates"=>[0.0, 0.0]},
      "properties"=>{},
      "crs"=>
       {"type"=>"name",
        "properties"=>{"name"=>"urn:ogc:def:crs:EPSG::27700"}}}]},
"last_app_timestamp"=>"EXAMPLE_last_app_timestamp",
"edition_date"=>"EXAMPLE_edition_date",
"class"=>"EXAMPLE_class",
"tenure"=>"EXAMPLE_tenure",
"entries"=>
  [{"entry_id"=>"EXAMPLE_entry_id",
    "sub_register"=>"EXAMPLE_sub_register",
    "schedule"=>
     {"fields"=>
       [{"text"=>"EXAMPLE_text",
         "parties"=>
          [{"names"=>
             [{"country_incorporation"=>"EXAMPLE_country_incorporation",
               "company_reg_num"=>"EXAMPLE_company_reg_num",
               "name_information"=>"EXAMPLE_name_information",
               "alias_names"=>
                [{"upper_override"=>"EXAMPLE_upper_override",
                  "surname"=>"EXAMPLE_surname",
                  "title"=>"EXAMPLE_title",
                  "decoration"=>"EXAMPLE_decoration",
                  "forename"=>"EXAMPLE_forename"}],
               "name_occupation"=>"EXAMPLE_name_occupation",
               "surname"=>"EXAMPLE_surname",
               "name_supplimentary"=>"EXAMPLE_name_supplimentary",
               "trading_name"=>"EXAMPLE_trading_name",
               "trust_format"=>"EXAMPLE_trust_format",
               "decoration"=>"EXAMPLE_decoration",
               "forename"=>"EXAMPLE_forename",
               "name_category"=>"EXAMPLE_name_category",
               "charity_name"=>"EXAMPLE_charity_name",
               "local_authority_area"=>"EXAMPLE_local_authority_area",
               "title"=>"EXAMPLE_title",
               "company_location"=>"EXAMPLE_company_location",
               "auto_uppercase_override"=>"EXAMPLE_auto_uppercase_override",
               "non_private_individual_name"=>
                "EXAMPLE_non_private_individual_name"}],
            "party_role_description"=>"EXAMPLE_party_role_description"}],
         "header"=>"EXAMPLE_header"}],
      "schedule_type"=>"EXAMPLE_schedule_type",
      "parent_register"=>"EXAMPLE_parent_register",
      "header"=>"EXAMPLE_header"},
    "deeds"=>
     [{"rent_detail"=>"EXAMPLE_rent_detail",
       "parties"=>
        [{"names"=>
           [{"country_incorporation"=>"EXAMPLE_country_incorporation",
             "company_reg_num"=>"EXAMPLE_company_reg_num",
             "name_information"=>"EXAMPLE_name_information",
             "alias_names"=>
              [{"upper_override"=>"EXAMPLE_upper_override",
                "surname"=>"EXAMPLE_surname",
                "title"=>"EXAMPLE_title",
                "decoration"=>"EXAMPLE_decoration",
                "forename"=>"EXAMPLE_forename"}],
             "name_occupation"=>"EXAMPLE_name_occupation",
             "surname"=>"EXAMPLE_surname",
             "name_supplimentary"=>"EXAMPLE_name_supplimentary",
             "trading_name"=>"EXAMPLE_trading_name",
             "trust_format"=>"EXAMPLE_trust_format",
             "decoration"=>"EXAMPLE_decoration",
             "forename"=>"EXAMPLE_forename",
             "name_category"=>"EXAMPLE_name_category",
             "charity_name"=>"EXAMPLE_charity_name",
             "local_authority_area"=>"EXAMPLE_local_authority_area",
             "title"=>"EXAMPLE_title",
             "company_location"=>"EXAMPLE_company_location",
             "auto_uppercase_override"=>"EXAMPLE_auto_uppercase_override",
             "non_private_individual_name"=>
              "EXAMPLE_non_private_individual_name"}],
          "party_role_description"=>"EXAMPLE_party_role_description"}],
       "rentcharge_amount"=>"EXAMPLE_rentcharge_amount",
       "date"=>"EXAMPLE_date",
       "title_number"=>"EXAMPLE_title_number",
       "payment_detail"=>"EXAMPLE_payment_detail",
       "lease_term"=>"EXAMPLE_lease_term",
       "description"=>"EXAMPLE_description"}],
    "status"=>"EXAMPLE_status",
    "role_code"=>"EXAMPLE_role_code",
    "draft_entry_version"=>"EXAMPLE_draft_entry_version",
    "language"=>"EXAMPLE_language",
    "infills"=>
     [{"address"=>
        {"postcode"=>"EXAMPLE_postcode",
         "region_name"=>"EXAMPLE_region_name",
         "sub_building_description"=>"EXAMPLE_sub_building_description",
         "trail_info"=>"EXAMPLE_trail_info",
         "sub_building_no"=>"EXAMPLE_sub_building_no",
         "plot_no"=>"EXAMPLE_plot_no",
         "secondary_house_alpha"=>"EXAMPLE_secondary_house_alpha",
         "postal_county"=>"EXAMPLE_postal_county",
         "town"=>"EXAMPLE_town",
         "local_name"=>"EXAMPLE_local_name",
         "dx_no"=>"EXAMPLE_dx_no",
         "care_of_name"=>"EXAMPLE_care_of_name",
         "address_string"=>"EXAMPLE_address_string",
         "leading_info"=>"EXAMPLE_leading_info",
         "house_alpha"=>"EXAMPLE_house_alpha",
         "plot_code"=>"EXAMPLE_plot_code",
         "secondary_house_no"=>"EXAMPLE_secondary_house_no",
         "email_address"=>"EXAMPLE_email_address",
         "house_no"=>"EXAMPLE_house_no",
         "address_type"=>"EXAMPLE_address_type",
         "exchange_name"=>"EXAMPLE_exchange_name",
         "country"=>"EXAMPLE_country",
         "street_name"=>"EXAMPLE_street_name",
         "care_of"=>"EXAMPLE_care_of",
         "auto_uppercase_override"=>"EXAMPLE_auto_uppercase_override",
         "house_description"=>"EXAMPLE_house_description"},
       "text"=>"EXAMPLE_text",
       "date"=>"EXAMPLE_date",
       "charge"=>[{"charge_date"=>"EXAMPLE_charge_date"}],
       "proprietors"=>
        [{"addresses"=>
           [{"postcode"=>"EXAMPLE_postcode",
             "region_name"=>"EXAMPLE_region_name",
             "sub_building_description"=>"EXAMPLE_sub_building_description",
             "trail_info"=>"EXAMPLE_trail_info",
             "sub_building_no"=>"EXAMPLE_sub_building_no",
             "plot_no"=>"EXAMPLE_plot_no",
             "secondary_house_alpha"=>"EXAMPLE_secondary_house_alpha",
             "postal_county"=>"EXAMPLE_postal_county",
             "town"=>"EXAMPLE_town",
             "local_name"=>"EXAMPLE_local_name",
             "dx_no"=>"EXAMPLE_dx_no",
             "care_of_name"=>"EXAMPLE_care_of_name",
             "address_string"=>"EXAMPLE_address_string",
             "leading_info"=>"EXAMPLE_leading_info",
             "house_alpha"=>"EXAMPLE_house_alpha",
             "plot_code"=>"EXAMPLE_plot_code",
             "secondary_house_no"=>"EXAMPLE_secondary_house_no",
             "email_address"=>"EXAMPLE_email_address",
             "house_no"=>"EXAMPLE_house_no",
             "address_type"=>"EXAMPLE_address_type",
             "exchange_name"=>"EXAMPLE_exchange_name",
             "country"=>"EXAMPLE_country",
             "street_name"=>"EXAMPLE_street_name",
             "care_of"=>"EXAMPLE_care_of",
             "auto_uppercase_override"=>"EXAMPLE_auto_uppercase_override",
             "house_description"=>"EXAMPLE_house_description"}],
          "trustee"=>"EXAMPLE_trustee",
          "name"=>
           {"country_incorporation"=>"EXAMPLE_country_incorporation",
            "company_reg_num"=>"EXAMPLE_company_reg_num",
            "name_information"=>"EXAMPLE_name_information",
            "alias_names"=>
             [{"upper_override"=>"EXAMPLE_upper_override",
               "surname"=>"EXAMPLE_surname",
               "title"=>"EXAMPLE_title",
               "decoration"=>"EXAMPLE_decoration",
               "forename"=>"EXAMPLE_forename"}],
            "name_occupation"=>"EXAMPLE_name_occupation",
            "surname"=>"EXAMPLE_surname",
            "name_supplimentary"=>"EXAMPLE_name_supplimentary",
            "trading_name"=>"EXAMPLE_trading_name",
            "trust_format"=>"EXAMPLE_trust_format",
            "decoration"=>"EXAMPLE_decoration",
            "forename"=>"EXAMPLE_forename",
            "name_category"=>"EXAMPLE_name_category",
            "charity_name"=>"EXAMPLE_charity_name",
            "local_authority_area"=>"EXAMPLE_local_authority_area",
            "title"=>"EXAMPLE_title",
            "company_location"=>"EXAMPLE_company_location",
            "auto_uppercase_override"=>"EXAMPLE_auto_uppercase_override",
            "non_private_individual_name"=>
             "EXAMPLE_non_private_individual_name"},
          "type"=>"EXAMPLE_type"}],
       "type"=>"EXAMPLE_type"}],
    "entry_date"=>"EXAMPLE_entry_date",
    "full_text"=>"EXAMPLE_full_text",
    "notes"=>[{"text"=>"EXAMPLE_text", "font"=>"EXAMPLE_font"}],
    "template_text"=>"EXAMPLE_template_text",
    "draft_entry_code"=>"EXAMPLE_draft_entry_code"}],
"uprns"=>["EXAMPLE_uprn"],
"title_number"=>"EXAMPLE_title_number",
"migration_errors"=>
  [{"extractor"=>"EXAMPLE_extractor",
    "message_number"=>"EXAMPLE_message_number",
    "entry_id"=>"EXAMPLE_entry_id",
    "message"=>"EXAMPLE_message"}],
"dlr"=>"EXAMPLE_dlr",
"districts"=>["EXAMPLE_district"]}
      </pre>


    </div> <!-- /container -->

  </body>
</html>
